:root {
	--primario: #1073ba;
	--secundario: #00da55;
	--gris: #3b3b3b;
	--blanco: #fff;
	--negro: #1f1e1e;
	--grisClaro: #e1e1e1;
	--fuentePrincipal: 'Roboto', sans-serif;
	--fuenteSecundaria: 'Lato', sans-serif;
	--separacion: 5rem;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--fuentePrincipal);
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Globales */
.contenedor {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: 900;
	font-family: var(--fuenteSecundaria);
	margin: calc(var(--separacion) / 2) 0;
}
h1 {
	font-size: 4.4rem;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 2.8rem;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

/* Utilidades */
.text-center {
	text-align: center;
}

/* Degradados */
.degradado-verde {
	color: transparent;
	background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
	-webkit-background-clip: text;
	background-clip: text;
}

/* Header  */
.header {
	background-color: var(--negro);
	padding: calc(var(--separacion) * 3) 0;
	color: var(--blanco);
}

@media (min-width: 768px) {
	.contenido-header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.texto-header {
	text-align: center;
	padding-top: var(--separacion);
}
@media (min-width: 768px) {
	.texto-header {
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 0;
	}
}

.texto-header p {
	margin: 0;
}

.tagline-producto {
	font-size: 3rem;
	font-weight: 900;
}
.nombre-producto {
	font-size: 6rem;
	margin: 0;
}
@media (min-width: 768px) {
	.nombre-producto {
		font-size: 10rem;
		line-height: 1;
	}
}

.precio-producto span {
	font-size: 6rem;
	font-weight: 900;
}

/* Iconos */
.iconos {
	padding: var(--separacion) 0;
}

@media (min-width: 768px) {
	.iconos {
		display: flex;
		gap: 2rem;
	}
}

.icono {
	text-align: center;
	margin-bottom: calc(var(--separacion) / 2);
}
.icono:last-of-type {
	margin: 0;
}
@media (min-width: 768px) {
	.icono {
		margin: 0;
	}
}
.icono img {
	width: 5rem;
	margin: 0 auto;
}
.icono h3 {
	color: var(--primario);
	text-transform: uppercase;
	margin-top: calc(var(--separacion) / 2);
}

/* Sobre TechPRO */
.sobre-tech {
	background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
	background-position: right;
	background-repeat: repeat, no-repeat;
	background-size: 100%, 110rem;
}
@media (min-width: 768px) {
	.sobre-tech {
		background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
		background-repeat: repeat, no-repeat;
	}
}
@media (min-width: 1600px) {
	.sobre-tech {
		background-size: 100%, 210rem;
	}
}

.sobre-tech-grid {
	display: grid;
	grid-template-rows: repeat(2, 40rem);
	row-gap: var(--separacion);
}
@media (min-width: 768px) {
	.sobre-tech-grid {
		grid-template-rows: unset;
		row-gap: unset;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4rem;
		padding: calc(var(--separacion) * 2) 0;
	}
}

.texto-sobre-tech {
	grid-row: 2/3;
	color: var(--blanco);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: var(--separacion);
}
@media (min-width: 768px) {
	.texto-sobre-tech {
		padding-bottom: 0;
	}
}

.texto-sobre-tech h2 {
	font-size: 4rem;
}

.texto-sobre-tech p {
	font-size: 2rem;
	line-height: 2;
}

/* Modelos */
.modelos {
	padding: var(--separacion) 0;
}

.header-modelos {
	font-size: 6rem;
	margin-bottom: var(--separacion);
}

.listado-modelos {
	display: flex;
	flex-direction: column-reverse;
}
@media (min-width: 992px) {
	.listado-modelos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 20rem);
		gap: 4rem;
	}
}

.modelo {
	background-color: var(--grisClaro);
	margin-bottom: 2rem;
	padding-left: 4rem;
	color: var(--primario);
	border-radius: 2rem;
	min-height: 20rem;
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition-property: transform background-size;
	transition-duration: 0.3s;
}

.modelo:hover {
	transform: scale(1.1);
	background-size: 30rem;
}

@media (min-width: 992px) {
	.modelo {
		margin-bottom: 0;
	}
}

.modelo h3 {
	font-size: 2.4rem;
}
.modelo .precio {
	font-size: 4rem;
	font-weight: 900;
	line-height: 0;
}

.modelo:first-of-type {
	margin-bottom: 0;
}

.modelo-x {
	background-image: url(../img/modelo-x.svg);
}
.modelo-y {
	background-image: url(../img/modelo-y.svg);
}
.modelo-z {
	background-image: url(../img/modelo-z.svg);
	background-color: var(--primario);
	color: var(--blanco);
}
@media (min-width: 992px) {
	.modelo-z {
		grid-column: 2/3;
		grid-row: 1/3;
		background-size: 25rem;
	}
	.modelo-z h3 {
		font-size: 4rem;
	}
}

.modelo-z .precio {
	font-size: 6rem;
}

/* Newsletter */
.newsletter {
	background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%, 70rem;
}
@media (min-width: 768px) {
	.newsletter {
		background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
		background-position: bottom left;
		background-size: 100%, 100rem;
		padding: 10rem 0;
	}
}
@media (min-width: 2200px) {
	.newsletter {
		background-size: 100%, 500rem;
		background-position: center, bottom center;
	}
}

.contenido-newsletter {
	display: grid;
	grid-template-rows: repeat(2, 30rem);
	gap: var(--separacion);
}
@media (min-width: 768px) {
	.contenido-newsletter {
		grid-template-rows: unset;
		grid-template-columns: repeat(2, 1fr);
	}
}

.texto-newsletter {
	grid-row: 2/3;
}
@media (min-width: 768px) {
	.texto-newsletter {
		grid-row: unset;
		grid-column: 2/3;
	}
}

.formulario input[type='text'] {
	width: 100%;
	padding: 1rem;
}

.formulario input[type='submit'] {
	width: 100%;
	padding: 2rem;
	background-color: var(--primario);
	color: var(--blanco);
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 900;
	border: none;
}

.footer p {
	text-align: center;
	font-family: var(--fuenteSecundaria);
	text-transform: uppercase;
	font-size: 2rem;
	color: var(--primario);
	padding: 2rem;
}

/* 

curso de node de juan de la torre: https://t.me/educar_plus/14/1593
curso de ingles para developers: https://t.me/educar_plus/14/1717
react de codely: https://t.me/educar_plus/14/1721
principios solid fernand herrera: https://t.me/educar_plus/14/1920
curso de python codigo facilito: https://t.me/educar_plus/14/1928
fotografia urbana con smarphone: color y composicion: https://t.me/educar_plus/14/3145
escuela de ingles: https://t.me/educar_plus/14/3437
manejo de archivos con python codigo facilito: https://t.me/educar_plus/14/3696
THE BEST curso practico de Django Hector Costa  : https://t.me/educar_plus/14/3709
THE BEST	python HECTOR COSTA: https://t.me/educar_plus/14/5908	
Ultimate python Nicolas Schuman: https://t.me/educar_plus/14/4089
Taller de redaccion: https://t.me/educar_plus/14/4108
React con Socket Fernando Herrera: https://t.me/educar_plus/14/4362
Entonrnos virutales Platzi python: https://t.me/educar_plus/14/4518
Academia X: Herramientas Frontendhttps://t.me/educar_plus/14/4714
Academia X Clase Maaestra del DOM: https://t.me/educar_plus/14/4716
Curso avanzado de Kali Linux: https://t.me/educar_plus/14/6108
Curso de Bash scripting y automatizacion de proyectos: https://t.me/educar_plus/14/6566
Fotografia de moda y retoque: https://t.me/educar_plus/14/7566
Retoque Fotografia de cero a experto: https://t.me/educar_plus/14/7570
Iluminacion creativa para retratos: https://t.me/educar_plus/14/7576

Curso profesional de React Codigo Facilito 2023: https://t.me/educar_plus/14/8154
Figma advanced prototype: https://t.me/educar_plus/14/8648
Sql desde cero con Postgress Fernando Herrera : https://t.me/educar_plus/14/9655

learn blender: https://t.me/educar_plus/14/9655
Cuso de sprint boot: https://t.me/educar_plus/14/12310
Curso profesional de node Codigo facilito: https://t.me/educar_plus/14/13329
Platzi Introduccion a la administracion de servidores linux : https://t.me/educar_plus/14/14777
Platzi administracion de servidores linux: manejo de recursors: https://t.me/educar_plus/14/15048
Curso de introduccion al desarrollo backend: https://t.me/educar_plus/14/15052
Platzi desarrollo de chatbots con openAI: https://t.me/educar_plus/14/16156
Platzi Ruta de Angular: https://t.me/educar_plus/14/16398
Python Asistido con chatGPT HECTOR COSTA: como crear Apps en minutos: https://t.me/educar_plus/14/16752
Platzi clean code y buenas practicas con JS: https://t.me/educar_plus/14/17441

PLATZI Curso de Herramientas de Inteligencia Artificial para developers: https://t.me/educar_plus/14/17455
  
PLATZI introduccion a la inteligencia Artificial: https://t.me/educar_plus/14/17495
PLATZI Curso de patrones creacionales en JS: 
*/
